:root {
    --background: rgb(224, 234, 247);
    --header-background: white;
    --footer-background: rgb(243, 242, 242);
    --text-color: rgb(7, 5, 68);
    --label-color: rgb(75, 102, 98);
    --placeholder-color: rgb(136, 136, 153);
    --offset-color: rgb(217, 236, 217);
    --action-color: rgb(77, 132, 252);
}

body {
    height: 100vh;
    font-family: 'Rubik', san-serif;
    background: var(--background);
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url("../assets/grocery-store.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.page-header {
    position: sticky;
    top: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
    background-color: var(--header-background);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.page-header .title {
    font-size: 1.2em;
    font-weight: 800;
}

.page-header nav {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

main {
    padding: 20px;
}

footer {
    position: sticky;
    bottom: 0;
    padding: 7px 20px;
    font-size: 0.8em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--footer-background);
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    border-width: 1em;
    background-color: black, transparent;
    
}

.h1-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-width: 1em;
    background-color: black,;

    
    text-transform: uppercase;
    animation: flick 12s ease-in infinite;
    text-shadow: none;
}

@keyframes flick {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
    opacity: 1;
    text-shadow: -1px -1px 0 #ededed;
    }

    10%,
    30%,
    50%,
    70%,
    90%,
    95% {
    opacity: 0.5;
    text-shadow: none;
    }
}


    .neon {
        color: #fff;
        text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px #0ff,
        0 0 80px #0ff,
        0 0 90px #0ff,
        0 0 100px #0ff,
        0 0 150px #0ff;
    }


h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(249, 249, 249);
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(221, 2, 250),
    0 0 80px rgb(221, 2, 250),
    0 0 90px rgb(221, 2, 250),
    0 0 100px rgb(221, 2, 250),
    0 0 150px rgb(221, 2, 250);
    font-size: 50px;
    background-color: transparent;
}

.shopping-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    

    

    color: #fff;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
    font-size: 25px;
}

.delete-button-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    
}

.delete {
    font-size: 2rem;;
    color: #0ff;
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;  
    background-color: transparent;
    border: none;
}

.shopping-list-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.shopping-list-form input {
color: #0ff;
background-color: black;
}